.rightbar {
  background-color: $columnBackgroundColor;
  height: auto;
border:solid black 1px;
}
  .card1{
  @include containers-sbr;
  max-width: 100%;
  
}
  .card-listings{
    @include containers-sbr;
    .header-listings{
      @include header-bar;
    }
  }
  

  
