// Variables Globales
$mainBackgroundColor: #efefef;
$columnBackgroundColor: transparent;
$footerBackgroundColor: #d6d6d7;
$mainWebsiteFont: "Roboto", sans-serif;

// Variables de Daniel

// Variables de Brisah

// Variables de Omar
$sidebarrightbgcolor: #f9f9f9;
$linkfontcolorsbr:#616ce4;
// Variables de German 
$bannerBackground: #323da3;
